
.BookTags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--margin-inner);
  
  .BookTags__tag {
    border-radius: var(--radius-half);
    overflow: hidden;

    background-color: var(--ios-color-gray-6);
    font-size: var(--font-caption-1);
    color: var(--ios-color-gray);
    
    display: flex;
    align-items: stretch;

    span {
      // display: block;
      padding: .25rem .5rem;
    }

    .BookTags__delete {

      display: flex;
      align-items: center;
      margin-left: -.3rem;
      padding-left: .3rem;
      padding-right: .5rem;
      
      cursor: pointer;
      
      &:hover {
        background-color: var(--ios-color-gray-4);
        // opacity: .5;
      }

      .delete__icon {
      }
    }

    .BookTags__add {

      display: flex;
      align-items: center;
      padding-left: .5rem;
      padding-right: .5rem;
      
      cursor: pointer;
      
      &:hover {
        background-color: var(--ios-color-gray-4);
        // opacity: .5;
      }

      .delete__icon {
      }
    }
  }
}
