
.BookThumbnail {
  height: 6rem;
  aspect-ratio: 2 / 3;
  flex-shrink: 0;

  margin-right: var(--margin-inner);
  border-radius: var(--radius);
  overflow: hidden;
  
  .BookThumbnail__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }

  &.BookThumbnail--missing {
    background-color: var(--ion-color-step-50);
    display: flex;
    justify-content: center;
    align-items: center;

    .BookThumbnail--missing-icon {
      color: var(--ion-color-step-150);
      font-size: 2rem;
    }
  }
}
