
.ProgressCircle {
  display: flex;
  // position: absolute;
  // bottom: 0;
  // right: 0;
  // align-items: center;

  span {
    margin-top: -2px;
    margin-left: .25rem;
    font-weight: 500;
    color: #34C759;
  }

  .ProgressCircle__slot {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    
    color: var(--ios-color-green);
    font-weight: 900;
    font-size: 1.125rem;
  }
}
