

.BookPage__title {
  margin-bottom: var(--margin-inner);
  // text-align: center;
}




.BookPage__cover {
  display: flex;

  margin-bottom: var(--margin-inner);

  .BookThumbnail {
    height: 9rem;
    width: calc(9rem / 3 * 2);
  }

  .cover__details {
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    .cover__authors {
      margin-bottom: var(--margin-inner);
      font-size: var(--font-body);
    }



    .BookTags {
      // margin-bottom: var(--margin-inner);
    }

    .cover__userRating {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }


    .continue-reading {

    }
  }
}

.cover__bookRating {
  display: flex;
  align-items: center;
  margin-bottom: var(--margin-inner);

  .bookRating__icon {
    margin-bottom: 1px;
    margin-right: .5ch;

    font-size: .8em;
    color: var(--ios-color-yellow);
  }

  .bookRating__reviews {
    margin-left: .5ch;
    font-size: .8em;
    color: var(--ios-color-gray-2);
  }
}














.sessions__title {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: var(--margin-inner);
  font-size: 1.275rem;

  span {
    flex-grow: 1;
  }

  .title__icon {
    font-size: 1.125em;
    cursor: pointer;

    &:hover {
      opacity: .5;
    }
  }
}




.remaining-time {
  margin-bottom: var(--margin-outer);
  text-align: center;
}






// MAKE COMPONENTS FROM THOSE



.BookPage__info {
  text-align: center;
  font-size: var(--font-subheadline);
  color: var(--ios-color-gray);
}


.SessionItem__stats {
  padding: var(--margin-inner) .75rem 0;
  // background-color: var(--ios-color-gray-6);

  display: flex;
  flex-wrap: wrap;

  div {
    min-width: 33%;
    max-width: 33%;
    margin-bottom: var(--margin-inner);
    text-align: center;
  }
}







.SessionItem__main-stats {

  // padding: var(--margin-inner) .75rem 0;
  // background-color: var(--ios-color-gray-6);

  display: flex;
  flex-wrap: wrap;

  margin-right: calc(-1 * var(--margin-inner));
}





.add_note {
  font-size: .8em;
}

.InfoCapsule .StarRating {
  // font-size: var(--font-title-1);
  // margin-bottom: var(--margin-inner);
  font-size: 1.85rem;
}




.bookStats {
  margin-top: var(--margin-paragraph);
  margin-bottom: var(--margin-inner);
}

.BookPage__info {
  margin: var(--margin-inner-half);
}

.omg {
  margin-top: var(--margin-paragraph);
}

.BookPage__edit-book {
  cursor: pointer;
  text-align: center;
  margin-top: var(--margin-outer);
  text-transform: uppercase;
  font-size: var(--font-subheadline);
  color: var(--ios-color-blue);
  font-weight: 500;
  letter-spacing: var(--font-spacing-wide);

  &:hover { opacity: .5; }
}