
.BookTags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--margin-inner);
  
  .BookTags__tag {
    border-radius: var(--radius-half);
    overflow: hidden;

    background-color: var(--ios-color-gray-6);
    font-size: var(--font-caption-1);
    color: var(--ios-color-gray);
    
    display: flex;
    align-items: stretch;

    span {
      // display: block;
      padding: var(--margin-inner-half) var(--margin-inner);
    }

    .BookTags__delete {

      display: flex;
      align-items: center;
      margin-left: -.3rem;
      padding-left: .3rem;
      padding-right: var(--margin-inner);
      
      cursor: pointer;
      
      &:hover {
        background-color: var(--ios-color-gray-4);
        // opacity: .5;
      }

      .delete__icon {
      }
    }

    .BookTags__add {

      display: flex;
      align-items: center;
      padding-left: var(--margin-inner);
      padding-right: var(--margin-inner);
      
      cursor: pointer;
      
      &:hover {
        background-color: var(--ios-color-gray-4);
        // opacity: .5;
      }

      .add__icon {
        // height: 1rem;
        padding: var(--margin-inner-half) 0;
      }
    }
  }
}
