

.PrioritySetting {


  svg {
    opacity: .5;

    font-size: 1.4rem;
    margin-right: .5ch;

    &:last-of-type { margin-right: 0; }

    &.selected { opacity: 1; }

    &:hover { opacity: .5; }
  }
}