

// Colors for book flags
.color_finished { color: var(--ios-color-green); }
.color_priority_1 { color: var(--ios-color-yellow); }
.color_priority_2 { color: var(--ios-color-orange); }
.color_priority_3 { color: var(--ios-color-red); }
.color_unimportant { color: var(--ios-color-gray-3); }
