
// @use 'variables' as *;

@use '_variables.scss';
@use '_typography.scss';


// Normalize CSS
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  height: 100vh;
  overflow: hidden;
}

// Style root elements
body {
  height: 100vh;
  overflow: hidden;
  background-color: var(--ion-color-step-50);

  display: flex;
  justify-content: center;
}

#root {
  height: 100vh;
  width: var(--screen-max-height);
  background-color: var(--ion-color-background);

  overflow-y: auto;
}






//*********************************//

.PageWrapper {
  flex-grow: 1;
  padding: 0.75rem;
  // overflow-y: auto;
  overflow: hidden;

  margin-top: var(--toolbar-height);
}
