
.ButtonBase {
  margin-top: var(--margin-inner);
  margin-bottom: var(--margin-inner);
  width: 100%;
  flex-grow: 1;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 20px;
  gap: 10px;

  height: 40px;

  background: var(--ios-color-blue);
  border-radius: var(--radius);


  color: var(--ion-text-color-inversed);
  font-weight: 600;
  font-size: 1.125rem;
  letter-spacing: var(--font-spacing-narrow);

  .Button__icon {
    font-size: .9em;
  }

  &:hover {
    opacity: .9;
  }
}
