
.CapsuleWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--margin-inner);
  gap: var(--margin-inner);
}


.InfoCapsule {
  flex-grow: 1;
  height: 3.125rem; // 50px
  
  background-color: var(--ios-color-gray-6);
  border-radius: var(--radius);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--margin-inner);

  .InfoCapsule__content {
    text-align: center;
  }

  .InfoCapsule__icon {
    font-size: 2rem;
    display: flex;
    align-items: center;
    color: var(--ios-color-green);
  }
}
